.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}

.image1{
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

.div_speed{
    float: left;
}

.div_s_img , .div_v_img{
    width: 200px;
    border-radius: 100px;
}

#speed , #volume{
    font-size: 23px;
    margin: 15px;
}

.div_volume{
    float: right;
}

.play_but{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}